html, body{
    margin: 0px;
    padding: 0px;
}

.sistema-mensajeria{
    display: flex;

}
.navbar-lateral{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20em;
    /* background-color: rgba(89, 255, 0, 0.484); */
    min-height: 100vh;
    border-right: 2px solid cornflowerblue;
    
}


.menu {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    
    }

.menu-left {
    display: flex;
    }
.menu-right {
    display: flex;
    }

.foto-maria{
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.container-imagen{
    display: flex;
    justify-content: left;
    align-items: center;
}
.container-iconos{
    display: flex;
    justify-content: left;
    align-items: center; 
    padding: 20px 0px; 

}
.icons{
    
    padding: 0px 10px;
   

}

/* separacion top */
.opcion-maria {
padding: 20px 0px; 

}
.p-maria{
    margin: 0;
    padding: 0px 10px; 
}
.container-boton{
border-top: 2px solid cornflowerblue;
width: 100%;
height: 140px;
display: flex;
justify-content: center;
align-items: center;
}

.boton-chat{
    border: none;
    background-color:blueviolet;
    color: #fff;
    padding: 20px 60px;


}
/* este es para las separaciones  */
.container-separacion-chat{
width: 100%;
border-top: 2px solid cornflowerblue;


}

/* este es container de todos los chat */
.container-chat{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80%;
    margin: auto;
   
    
}

.container-chat1{
    display: flex;
    justify-content: left;
    /* align-items: center; */ 
}
.opcion-chat1{
    padding: 20px 0px;
}

.foto-chat1{
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;  
}
.p-chat1{
margin: 0;
padding: 0px 10px;

}

 .container-chat2{
    display: flex;
    justify-content: left;
    
}
.foto-chat2{
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
      
    
}
.opcion-chat2{
    padding: 20px 0px;
    
    
}
.container-chat3{
    display: flex;
    justify-content: left;
    
}
.foto-chat3{
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
      
    
}
.opcion-chat3{
    padding: 20px 0px;
    
}
.container-chat4{
    display: flex;
    justify-content: left;
    
}
.foto-chat4{
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
      
    
}
.opcion-chat4{
    padding: 20px 0px;
    
}

.container-chat5{
    display: flex;
    justify-content: left;
    
}
.foto-chat5{
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
      
    
}
.opcion-chat5{
    padding: 20px 0px;
    
}
.container-chat6{
    display: flex;
    justify-content: left;
    
}
.foto-chat6{
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
      
    
}
.opcion-chat6{
    padding: 20px 0px;
    
}
.container-chat7{
    display: flex;
    justify-content: left;
    
}
.foto-chat7{
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
      
    
}
.opcion-chat7{
    padding: 20px 0px;
    
}
.container-chat8{
    display: flex;
    justify-content: left;
    
}
.foto-chat8{
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
      
    
}
.opcion-chat8{
    padding: 20px 0px;
    
}
/* seccion Logo */
.seccion-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.container-network{
    display: flex;
    flex-direction: column;
    align-items: center;
      
}

/* .container-logo{
    justify-content: center;
    align-items: center;
} */
.foto-logo{
    width: 250px;
    
}
.container-texto{
    padding: 0px 0px;
    width: 400px;
    text-align: center;
}